<div class="col-2 sidebar">
    <div class="df f-column">
        <div class="logo">
            <img src="/assets/img/default.png" alt="">
            <p>{{admin.name}}</p>
        </div>
        <div class="sidebar_bottom">
            <ul>
                <li><a href="/admin/products">Product</a></li>
                <li><a href="/admin/news">News</a></li>
                <li><a href="/admin/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</div>